#showcase {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px;
  min-height: 100vh;
  max-width: 80vw;
  margin: 0 auto 50px auto;
}

.node {
  margin-top: 50px;
  display: block;
  .node-image {
    justify-content: flex-start;
    width: 270px;
    height: 370px;
    img {
      border-radius: 2px;
    }
  }
}

@media (max-width: 768px) {
  #portfolio header {
    text-align: center;
    margin-top: 25px;
    font-weight: 100;
  }
  .node {
    display: flex;
    flex-direction: column;
  }
  .node-image {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
    .image-title {
      margin-bottom: 5px;
    }
  }
  .node-text {
    width: 90vw;
    margin: 20px auto;
  }
}

@media (min-width: 769px) {
  #portfolio header {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .node {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .node-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    .image-title {
      margin-bottom: 5px;
      font-size: 20px;
      font-weight: 400;
    }
  }
  .node-text {
    width: 300px;
    margin-top: 35px;
    margin-left: 50px;
  }
}
