---
---

@import "reset";
@import "bulma/utilities/_all";
@import "bulma/grid/columns";
@import "fontawesome/font-awesome";
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,300,400,600');

/**************
    Globals
***************/

html,
body {
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

section {
    position: relative;
}

body {
    font-family: 'Fira Sans', sans-serif;
    padding-bottom: 20px;
}
