<section id="contact">
	<header>
		<h1 class="title is-1 is-marginless">Contato</h1>
	</header>
	<form action="https://formspree.io/selhar@protonmail.com" method="POST" class="field" >
		<label for="sender-name" class="label">Nome/apelido</label>
			<input class="input" type="text" id="sender-name" name="name">
		<label for="message" class="label">Mensagem</label>
			<textarea class="input" type="text" id="message" name="message"></textarea>
		<label for="sender-email" class="label">E-mail</label>
			<input type="email" name="_replyto" id="sender-email" class="input">
    <input class="button input" type="submit" value="Enviar" id="send">
	</form>
</section>
