<section id="contact">
	<header>
		<h1 class="title is-1 is-marginless">Contato</h1>
	</header>
	<form action="https://formspree.io/selhar@protonmail.com" method="POST" class="field" >
		<label for="sender-name" class="label">Nome/apelido</label>
			<input class="input" type="text" id="sender-name" name="name">
		<label for="message" class="label">Mensagem</label>
			<textarea class="input" type="text" id="message" name="message"></textarea>
    <input class="button input" type="submit" value="Send" id="send">
	</form>
</section>
