<section id="contact">
	<header>
		<h1 class="title is-1 is-marginless">Contact</h1>
	</header>
	</br>
	<p>Lemon drops ice cream pastry danish bonbon gummi bears cheesecake cotton candy. Oat cake toffee danish donut croissant jelly beans tart chupa chups. Cupcake chupa chups pie marshmallow apple pie tart.</p>
	</br>
	<form action="https://formspree.io/selhar@protonmail.com"
      method="POST">
    texto<input type="text" name="name">
    email<input type="email" name="_replyto">
    <input type="submit" value="Send">
</form>
</section>