<section id="portfolio">
	<header>
		<h1 class="title is-1 is-marginless">Portfolio</h1>
	</header>
	<div id="showcase" style="border: 1px black;">
		<!-- 
			Start of a node
		-->
		<div class="node">
			<div class="node-image">
				<!--
					Image link and title
				-->
				<span class="image-title">Anonymous imageboard</span>
				<img src="http://via.placeholder.com/256x256" >
			</div>
			<div class="node-text" >
				<!-- 
					Description
				-->
				<span>Fully functional imageboard, features include creating, deleting and updating a thread or post, linking images through IMGUR, administrative logins and more</span>
				</br>
				<div class="tags" style="margin-top: 25px;">
					<!-- 
						Tags
					-->
					<span class="tag">PLACEHOLDER</span>
				</div>
			</div>
		</div>
		<!-- 
			End of a node
		-->
		<!-- 
			Start of a node
		-->
		<div class="node">
			<div class="node-image">
				<!--
					Image link and title
				-->
				<span class="image-title">Pinterest clone</span>
				<img src="http://via.placeholder.com/256x256" >
			</div>
			<div class="node-text" >
				<!-- 
					Description
				-->
				<span>A version of Pinterest made using Node and MongoDB. Features include ability to create your album of labeled pictures and search through other user's images either by date or label.</span>
				</br>
				<div class="tags" style="margin-top: 25px;">
					<!-- 
						Tags
					-->
					<span class="tag">PLACEHOLDER</span>
				</div>
			</div>
		</div>
		<!-- 
			End of a node
		-->
		<!-- 
			Start of a node
		-->
		<div class="node">
			<div class="node-image">
				<!--
					Image link and title
				-->
				<span class="image-title">React/Redux calculator</span>
				<a href="http://selhar-calculator.surge.sh/"><img src="images/calculator.png"></a>
			</div>
			<div class="node-text" >
				<!-- 
					Description
				-->
				<span>Minimalistic and elegant calculator. Supports all basic operations.</span>
				</br>
				<div class="tags" style="margin-top: 25px;">
					<!-- 
						Tags
					-->
					<span class="tag">PLACEHOLDER</span>
				</div>
			</div>
		</div>
		<!-- 
			End of a node
		-->
		<!-- 
			Start of a node
		-->
		<div class="node">
			<div class="node-image">
				<!--
					Image link and title
				-->
				<span class="image-title">React/Redux Tetris</span>
				<img src="http://via.placeholder.com/256x256" >
			</div>
			<div class="node-text" >
				<!-- 
					Description
				-->
				<span>An implementation of Tetris using react/redux</span>
				</br>
				<div class="tags" style="margin-top: 25px;">
					<!-- 
						Tags
					-->
					<span class="tag">PLACEHOLDER</span>
				</div>
			</div>
		</div>
		<!-- 
			End of a node
		-->
		<!-- 
			Start of a node
		-->
		<div class="node">
			<div class="node-image">
				<!--
					Image link and title
				-->
				<span class="image-title">Cupcakes landing page</span>
				<a href="https://codepen.io/Selhar/full/WRqZjr/"><img src="images/cupcakes.png" ></a>
			</div>
			<div class="node-text" >
				<!-- 
					Description
				-->
				<span>A landing page made in pure HTML5, CSS3 and Javascript.</span>
				</br>
				<div class="tags" style="margin-top: 25px;">
					<!-- 
						Tags
					-->
					<span class="tag">PLACEHOLDER</span>
				</div>
			</div>
		</div>
		<!-- 
			End of a node
		-->
	</div>
</section>