<section id="portfolio">
	<div id="showcase" style="border: 1px black;">
		<div class="projetos">
			<!--
				Start of a node
			-->
			<div class="node">
				<div class="node-image">
					<!--
						Image link and title
					-->
					<span class="image-title">PLACEHOLDER</span>
					<img src="http://via.placeholder.com/256x256" >
				</div>
				<div class="node-text" >
					<!--
						Description
					-->
					<span>DESCRIÇÃO - DESCRIÇÃO - DESCRIÇÃO - DESCRIÇÃO - DESCRIÇÃO - DESCRIÇÃO - DESCRIÇÃO - DESCRIÇÃO - DESCRIÇÃO - </span>
					</br>
					<div class="tags" style="margin-top: 25px;">
						<!--
							Tags
						-->
						<span class="tag">PLACEHOLDER</span>
					</div>
				</div>
			</div>
			<!--
				End of a node
			-->
			<!--
				Start of a node
			-->
			<div class="node">
				<div class="node-image">
					<!--
						Image link and title
					-->
					<span class="image-title">PLACEHOLDER</span>
					<img src="http://via.placeholder.com/256x256" >
				</div>
				<div class="node-text" >
					<!--
						Description
					-->
					<span>DESCRIÇÃO - DESCRIÇÃO - DESCRIÇÃO - DESCRIÇÃO - DESCRIÇÃO - DESCRIÇÃO - DESCRIÇÃO - DESCRIÇÃO - DESCRIÇÃO - </span>
					</br>
					<div class="tags" style="margin-top: 25px;">
						<!--
							Tags
						-->
						<span class="tag">PLACEHOLDER</span>
					</div>
				</div>
			</div>
			<!--
				End of a node
			-->
			<!--
				Start of a node
			-->
			<div class="node">
				<div class="node-image">
					<!--
						Image link and title
					-->
					<span class="image-title">PLACEHOLDER</span>
					<img src="http://via.placeholder.com/256x256" >
				</div>
				<div class="node-text" >
					<!--
						Description
					-->
					<span>DESCRIÇÃO - DESCRIÇÃO - DESCRIÇÃO - DESCRIÇÃO - DESCRIÇÃO - DESCRIÇÃO - DESCRIÇÃO - DESCRIÇÃO - DESCRIÇÃO - </span>
					</br>
					<div class="tags" style="margin-top: 25px;">
						<!--
							Tags
						-->
						<span class="tag">PLACEHOLDER</span>
					</div>
				</div>
			</div>
			<!--
				End of a node
			-->
		</div>
		<div class="projetos">

			<!--
				Start of a node
			-->
			<div class="node">
				<div class="node-image">
					<!--
						Image link and title
					-->
					<span class="image-title">PLACEHOLDER</span>
					<img src="http://via.placeholder.com/256x256" >
				</div>
				<div class="node-text" >
					<!--
						Description
					-->
					<span>DESCRIÇÃO - DESCRIÇÃO - DESCRIÇÃO - DESCRIÇÃO - DESCRIÇÃO - DESCRIÇÃO - DESCRIÇÃO - DESCRIÇÃO - DESCRIÇÃO - </span>
					</br>
					<div class="tags" style="margin-top: 25px;">
						<!--
							Tags
						-->
						<span class="tag">PLACEHOLDER</span>
					</div>
				</div>
			</div>
			<!--
				End of a node
			-->
			<!--
				Start of a node
			-->
			<div class="node">
				<div class="node-image">
					<!--
						Image link and title
					-->
					<span class="image-title">PLACEHOLDER</span>
					<img src="http://via.placeholder.com/256x256" >
				</div>
				<div class="node-text" >
					<!--
						Description
					-->
					<span>DESCRIÇÃO - DESCRIÇÃO - DESCRIÇÃO - DESCRIÇÃO - DESCRIÇÃO - DESCRIÇÃO - DESCRIÇÃO - DESCRIÇÃO - DESCRIÇÃO - </span>
					</br>
					<div class="tags" style="margin-top: 25px;">
						<!--
							Tags
						-->
						<span class="tag">PLACEHOLDER</span>
					</div>
				</div>
			</div>
			<!--
				End of a node
			-->
			<!--
				Start of a node
			-->
			<div class="node">
				<div class="node-image">
					<!--
						Image link and title
					-->
					<span class="image-title">PLACEHOLDER</span>
					<img src="http://via.placeholder.com/256x256" >
				</div>
				<div class="node-text" >
					<!--
						Description
					-->
					<span>DESCRIÇÃO - DESCRIÇÃO - DESCRIÇÃO - DESCRIÇÃO - DESCRIÇÃO - DESCRIÇÃO - DESCRIÇÃO - DESCRIÇÃO - DESCRIÇÃO - </span>
					</br>
					<div class="tags" style="margin-top: 25px;">
						<!--
							Tags
						-->
						<span class="tag">PLACEHOLDER</span>
					</div>
				</div>
			</div>
			<!--
				End of a node
			-->
		</div>
	</div>
</section>
