<section id="portfolio">
	<div id="showcase" style="border: 1px black;">
		<div class="projetos">
			<!--
				Start of a node
			-->
			<div class="node">
				<div class="node-image">
					<!--
						Image link and title
					-->
					<span class="image-title">MERN mockup textboard</span>
					<a href="https://github.com/Selhar/react-imageboard">
						<img src="images/mockup_imageboard.png" />
					</a>
				</div>
				<div class="node-text" >
					<!--
						Description
					-->
					<span>Feito em React, redux, mongoDB/mongoose, node e express.js, o site permite criação de posts anônimos com respostas. A ideia é demonstrar o uso de todas essas ferramentas e suas configurações da forma mais simplificada possível, assim outras pessoas podem utilizar o projeto como aprendizado.</span>
					</br>
					<div class="tags" style="margin-top: 25px;">
						<!--
							Tags
						-->
						<span class="tag">Fullstack</span>
						<span class="tag">MERN</span>
						<span class="tag">Redux</span>
						<span class="tag">Mongoose</span>
						<span class="tag">Express.JS</span>
					</div>
				</div>
			</div>
			<!--
				End of a node
			-->
			<!--
				Start of a node
			-->
			<div class="node">
				<div class="node-image">
					<!--
						Image link and title
					-->
					<span class="image-title">Responsive landing page</span>
					<a href="https://codepen.io/Selhar/pen/WRqZjr">
						<img src="images/responsive-landing-page.png" />
					</a>
				</div>
				<div class="node-text" >
					<!--
						Description
					-->
					<span>Landing page para cupcakes completamente responsiva, feita em HTML/CSS/JS puros, sem auxílio de bibliotecas ou frameworks.</span>
					</br>
					<div class="tags" style="margin-top: 25px;">
						<!--
							Tags
						-->
						<span class="tag">Front end</span>
						<span class="tag">CSS3</span>
						<span class="tag">HTML5</span>
						<span class="tag">ES6</span>
					</div>
				</div>
			</div>
			<!--
				End of a node
			-->
			<!--
				Start of a node
			-->
			<div class="node">
				<div class="node-image">
					<!--
						Image link and title
					-->
					<span class="image-title">Calculadora em react/redux</span>
					<a href="https://github.com/Selhar/freecodecamp/tree/master/beta/frontend-frameworks/calculator">
						<img src="images/react-redux-calculator.png" >
					</a>
				</div>
				<div class="node-text" >
					<!--
						Description
					-->
					<span>Calculadora que faz todas operações básicas. Feito somente com react e redux.</span>
					</br>
					<div class="tags" style="margin-top: 25px;">
						<!--
							Tags
						-->
						<span class="tag">React</span>
						<span class="tag">Redux</span>
					</div>
				</div>
			</div>
			<!--
				End of a node
			-->
		</div>
		<div class="projetos">

			<!--
				Start of a node
			-->
			<div class="node">
				<div class="node-image">
					<!--
						Image link and title
					-->
					<span class="image-title">Diversos outros projetos</span>
					<a href="http://selhar-showcase.surge.sh/">
						<img src="images/various-projects.png" >
					</a>
				</div>
				<div class="node-text" >
					<!--
						Description
					-->
					<span>Conjunto com mais de 25 projetos de front end, back end e fullstack. Utilizando de HTML/CSS base até bibliotecas como D3.JS</span>
					</br>
					<div class="tags" style="margin-top: 25px;">
					</div>
				</div>
			</div>
			<!--
				End of a node
			-->
		</div>
	</div>
</section>
