html, body, main {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

section {
  position: relative;
  height: 100vh;
  height: 100vw;
}

body {
  font-family: 'Fira Sans', sans-serif;
  padding-bottom: 20px;
}