#showcase {
  padding: 15px;
}

@media (max-width: 768px) {
  #portfolio header {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .node {
    display: flex;
    flex-direction: column;
  }
  .node-image {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
    .image-title {
      margin-bottom: 5px;
    }
  }
  .node-text {
    margin: 20px auto;
  }
}

@media (min-width: 769px) {
  #portfolio header {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .node {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .node-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    .image-title {
      margin-bottom: 5px;
      font-size: 20px;
      font-weight: 400;
    }
  }
  .node-text {
    margin-top: 35px;
    margin-left: 50px;
  }
}



